body {
  padding: .25rem;
  font-size: 16px;
  color: #333;
  background-color: #222;
}
h4 {
  font-size: 1.4em;
  font-weight: 800;
  margin-top: 1.67em;
  margin-bottom: .33em;
  color: #DDD;
}
div {
  padding: .25em;
  background-color: #DDD;
}
.material-icons {
  vertical-align: top;
  font-size: 1em;
}
/*------------------
--  Flex Styles  --
------------------*/
.flex-container {
  border: 2px dashed #DDD;
  padding: .5rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  /*-- flex-wrap: wrap; --*/
  /*-- uncomment along with media queries
  flex-direction: column;--*/
}
.flex-item {
  flex: 0 1 auto;
  flex-basis: 25%;
  /*flex: 0 1 250px;*/
  border-radius: 4px;
  margin: .25rem;
  padding: .5em;
  text-align: center;
  /*--transition: color 2s ease-in-out;--*/
}
.label {
  font-size: 1em;
  font-weight: 600;
}
/*-- flex media queries
@media screen and (min-width: 550px) {
  .flex-container {flex-direction: row;}
}--*/
/*--correct hover target
.flex-item:hover {
  color: red;
  cursor: pointer;
}--*/
/*-- incorrect hover target--*/
.label:hover {
  color: #00F;
}
/*-- ----------
- GRID STYLES -
---------------*/
.grid-container {
  border: 2px dashed #DDD;
  padding: .5rem;
  display: grid;
  grid-gap: .5rem;
  grid-template-columns: repeat(6, 1fr);
  /*uncomment along with media queries
  grid-template-columns: 1fr;*/
  /*grid-template-columns:repeat(auto-fit,minmax(250px, 1fr));*/
}
.grid-item {
  border-radius: 4px;
  padding: .5em;
  text-align: center;
}
/*-- grid media queries 
@media screen and (min-width: 550px) {
  .grid-container{grid-template-columns: repeat(2, 1fr);}
}
@media screen and (min-width: 768px) {
  .grid-container{grid-template-columns: repeat(3, 1fr);}
}
@media screen and (min-width: 990px) {
  .grid-container{grid-template-columns: repeat(4, 1fr);}
}
@media screen and (min-width: 1280px) {
  .grid-container{grid-template-columns: repeat(4, 1fr);}
}
@media screen and (min-width: 1440px) {
  .grid-container{grid-template-columns: repeat(6, 1fr);}
}--*/

/*--
.grid-container {
  grid-template-areas:
   "nav nav nav"
   "hero hero hero"
   "feat1 feat2 feat3"
   "wall story1 story1"
   "wall story2 story2"
   "wall story3 story3"
   "about about about"
   "col1 col2 col2";
}
.one { grid-area: nav;}
.two { grid-area: hero;}
.three { grid-area: feat1;}
.four { grid-area: feat2;}
.five { grid-area: feat3;}
.six { grid-area: wall;}
.seven { grid-area: story1;}
.eight { grid-area: story2;}
.nine { grid-area: story3;}
.ten { grid-area: about;}
.eleven { grid-area: col1;}
.twelve { grid-area: col2;}

@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-areas:
     "nav"
     "hero"
     "feat1"
     "feat2"
     "feat3"
     "wall"
     "story1"
     "story2"
     "story3"
     "about"
     "col1"
     "col2";
  }
}--*/